Repository anatoliygatt/use-prefers-color-scheme: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c tsc --noEmit, eslint --fix, prettier --write, jest --bail --findRelatedTests, sort-package-json

chore(eslint): add and configure eslint-plugin-react-hooks
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

feat: add usePrefersColorScheme hook
  package-lock.json
  package.json
  src/__tests__/index.ts
  src/__tests__/usePrefersColorScheme.ts
  src/index.ts
  src/usePrefersColorScheme.ts
Due: bash -c tsc --noEmit, eslint --fix, prettier --write, jest --bail --findRelatedTests, sort-package-json

docs: update README
  README.md
Due: prettier --write

ci: add Github CI workflow
  .github/workflows/ci.yml
Due: prettier --write

chore(git): add .gitattributes
  .gitattributes
Due: none

ci(github-actions): add release job to CI workflow
  .github/workflows/ci.yml
Due: prettier --write

Notes added by 'git notes add'
  529231fab0257726793a6e490d243599cf956cf5
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

ci(github): configure dependabot
  .github/dependabot.yml
Due: prettier --write

chore(eslint): enable browser global variables instead of node ones
  .eslintrc.json
Due: prettier --write

chore(eslint): remove redundant jest plugin environment configuration
  .eslintrc.json
Due: prettier --write

chore(eslint): disable caseSensitive option of import/no-unresolved rule
  .eslintrc.json
Due: prettier --write

chore: add CODEOWNERS
  .github/CODEOWNERS
Due: none

chore(dependabot): remove explicit list of pull request reviewers
  .github/dependabot.yml
Due: prettier --write

chore(dependabot): set schedule interval to daily
  .github/dependabot.yml
Due: prettier --write

chore(dependabot): set schedule interval to weekly
  .github/dependabot.yml
Due: prettier --write

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  b9210348757354dd9e924564d7462e0b2e561be7
Due: none

fix(deps): remove dependency on tslib
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write, sort-package-json

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  4c789b511a3aa6df88f8114c5716d9f5723f10ac
Due: none

chore(release): 1.0.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  2b7631962ec6194f10ab35e3b8c70fe0fa5b250e
Due: none

chore(release): 1.0.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  ac5847b84c6d489e77198d7dd36c5a9c8609e6de
Due: none

fix(deps-peer): allow usage of react@^18.0.0
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  a070e3f61bc647b12494e3c76198ff8470ddfe87
Due: none

chore(release): 1.0.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

fix(package.json): typo in peer deps declaration
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

chore(release): 1.0.6 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  1e10ee3748dbfae5bea5228cdd6ba5244bb14338
Due: none

fix(README): update github ci workflow status badge url
  README.md
Due: prettier --write

chore(release): 1.0.7 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  e92076637d4e4337dea0f0be760fd3a43795f1fe
Due: none

chore(release): 1.0.8 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  2ab010ead3898a8697df31558f1d79b250525704
Due: none

chore(release): 1.0.9 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  5b27fa7e4b6169501df1536ac69abc174298572e
Due: none

ci: bump node version to 18
  .github/workflows/ci.yml
Due: prettier --write

chore: update .nvmrc
  .nvmrc
Due: none

Path conditions:
  bash -c tsc --noEmit: any of: *.ts
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,yml,md})
  jest --bail --findRelatedTests: any of: *.ts
  sort-package-json: any of: package.json
